html,
body {
  padding: 0;
  margin: auto;
}

.main_container {
  border: 3px solid red;
  display: grid;
  grid-template-rows: 80px 80px 1fr 50px;
  min-height: 100vh;
}

.main_container .header {
  border: 3px solid blue;
  text-align: center;
}

.main_container .top_btns_container {
  border: 3px solid yellow;
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-height: 150px;
}

.books_list_container {
  border: 3px solid brown;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 400px));
  align-items: center;
  justify-content: space-around;
  row-gap: 15px;
}

.books_list_container .book_card {
  max-width: 500px;
  border: 3px solid green;
  display: grid;
  grid-template-rows: repeat(4, 80px);
}

.book_card .book_card_info {
  display: grid;
  grid-template-columns: 100px 250px;
  text-align: center;
  align-items: center;
}

.book_card hr {
  display: inline-flex;
  grid-column: 1/3;
  border: 1px solid black;
  margin: 0px 25px 0px 25px;
}

.book_card .BookCardBtnContainer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.book_card .bookCardBtn {
  width: 100px;
  height: 3em;
  text-align: center;
}

#addBookDialog form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  row-gap: 5px;
  column-gap: 5px;
}
#addBookDialog hr {
  grid-column: 1/3;
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}
.formBtnsContainer {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  grid-row: 6/7;
  grid-column: 1/3;
}
.formBtns {
  width: 100px;
  height: 35px;
}

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 3px solid blue;
  align-items: center;
  justify-content: center;
  text-align: center;
}
